@model IEnumerable<ToDoAssistant.Controllers.ToDoViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>All ToDos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">All ToDo Items</h2>
        <button class="btn btn-primary mb-3" onclick="window.location.href='/'">Go to Chat</button>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var todo in Model)
                {
                    <tr>
                        <td>@todo.Id</td>
                        <td>@todo.Description</td>
                        <td>@(todo.IsDone ? "Done" : "Pending")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
